---
import { metaData, socialLinks } from "../config";
import { Icon } from "astro-icon/components";

const YEAR = new Date().getFullYear();

const socialIcons = [
  { href: socialLinks.twitter, icon: "fa6-brands:x-twitter" },
  { href: socialLinks.email, icon: "tabler:mail-filled" },
];
---

<small class="block lg:mt-24 mt-16 text-color dark:text-color-dark">
  <time>© {YEAR}</time>{" "}
  <a
    class="no-underline"
    href={socialLinks.twitter}
    target="_blank"
    rel="noopener noreferrer">
    {metaData.title}
  </a>
  <div
    class="flex text-lg gap-3.5 float-right transition-opacity duration-300 hover:opacity-90">
    {
      socialIcons.map((link) => (
        <a
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={link.icon.replace("fa6-", "").replace("-", " ")}
        >
          <Icon name={link.icon} />
        </a>
      ))
    }
    <a href="/rss.xml"  aria-label="RSS">
      <Icon name="fa6-solid:rss" />
    </a>
  </div>
</small>

<style>
  @media screen and (max-width: 480px) {
    article {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }
</style>
